:root {
    --primary-color: #228B22;
    --secondary-color: #006400;
    --black-color: #0000;
    --text-color: #333;
    --light-background: #f8f9fa;
    --font-size-base: 16px;
    --spacing-base: 20px;
    --border-radius-base: 4px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #93ee9a;
    /* Tom de cinza azulado para fundo */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* Fonte mais moderna e legível */
    color: #333;
    /* Tom de cinza escuro para texto */
    line-height: 1.6;
    /* Espaçamento entre linhas melhorado para legibilidade */
}

h1,
h2,
h3 {
    color: var(--primary-color);
    /* Azul escuro para títulos */
    font-weight: bold;
    /* Títulos em negrito para destaque */
}

.container {
    max-width: 800px;
    /* Largura máxima do conteúdo para uma leitura confortável */
    margin: 20px auto;
    background-color: #fff;
    /* Fundo branco para destacar o conteúdo */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Sombra mais pronunciada para efeito de elevação */
    padding: 30px;
    /* Mais espaço interno para separar o conteúdo das bordas */
    border-radius: 10px;
    /* Bordes ligeiramente arredondados para uma aparência mais moderna */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-left {
    margin-top: 20px;
    font-size: 150px; 
    color: var(--primary-color); /* alterado para corresponder à cor primária definida */
    text-decoration: none;
    position: absolute; /* posição absoluta para permitir o posicionamento personalizado */
    right: calc(90%); /* 20px de margem à direita do contêiner */
    transform: translateY(-50%); /* centralizar verticalmente */
    transform: scale(2);
}

.gg-arrow-left {
   font-size: 200px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(2);
}


.text {
    padding: 20px 0;
    /* Espaçamento interno ajustado para melhor legibilidade */
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 20px;
}

.first-image,
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* Bordes arredondados para imagens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para imagens */
}