:root {
    --primary-color: #f89d00;
    --secondary-color: #b09500;
    --black-color: #0000;
    --text-color: #333;
    --light-background: #f8f9fa;
    --font-size-base: 16px;
    --spacing-base: 20px;
    --border-radius-base: 4px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-background);
    color: var(--text-color);
    line-height: 1.6;
}



.arrow-link {
    margin-top: 32px;
    font-size: 150px; 
    color: var(--primary-color); /* alterado para corresponder à cor primária definida */
    text-decoration: none;
    position: absolute; /* posição absoluta para permitir o posicionamento personalizado */
    left: calc(100% + 20px); /* 20px de margem à direita do contêiner */
    transform: translateY(-50%); /* centralizar verticalmente */
    transform: scale(2);
}


.ggr-arrow-right {
   font-size: 200px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(2);
}


.arrow-left {
    margin-top: 32px;
    font-size: 150px; 
    color: var(--primary-color); /* alterado para corresponder à cor primária definida */
    text-decoration: none;
    position: absolute; /* posição absoluta para permitir o posicionamento personalizado */
    right: calc(100% + 20px); /* 20px de margem à direita do contêiner */
    transform: translateY(-50%); /* centralizar verticalmente */
    transform: scale(2);
}

.gg-arrow-left {
   font-size: 200px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(2);
}


.container {
    max-width: 800px;
    margin: var(--spacing-base) auto; /* centralize o contêiner horizontalmente e ajuste as margens conforme necessário */
    padding: var(--spacing-base);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#nextButton, #prevButton {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%; 
    cursor: pointer;
    margin: 20px 10px;
}

#nextButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    margin-right: auto;  
  }
  
#prevButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  position: absolute;
  left: 0;  
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: 20px;
  }
  
#prevButton, #nextButton {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; 
}

#prevButton:hover, #nextButton:hover {
    background-color: var(--primary-color);
}

h1, h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: var(--spacing-base);
}

h2 {
    background-color: #eee; 
    padding: 10px;
    border-radius: var(--border-radius-base);
    color: var(--secondary-color);
    margin-top: var(--spacing-base);
}

p {
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: var(--font-size-base);
}

.card {
    display: none; 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: var(--border-radius-base);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: var(--spacing-base);
}

.card:first-child {
    display: block; 
}
